$color-text: hsl(0, 0%, 33%);
$color-backround: hsl(0, 0%, 100%);
$color-light: hsl(0, 0%, 90%);
$cell-size: 75px;

body {
    display: flex;
    box-sizing: border-box;
    max-height: 100vh;
    color: $color-text;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $color-backround;
    justify-content: center;
}

.timetable {
    display: grid;
    margin-right: 17px;
    overflow-x: auto;
    overflow-y: hidden;
    grid-auto-columns: $cell-size;
    grid-auto-rows: $cell-size;
    grid-template-rows: 45px;
    gap: 5px;
    &:hover {
        overflow-y: scroll;
        margin-right: 0;
    }

    @mixin timetable_cell {
        display: flex;
        padding: 5px;
        font-weight: bold;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &_day {
        @include timetable_cell;
        position: sticky;
        top: 0;
        height: auto;
        background-color: $color-backround;
        text-transform: lowercase;
    }
    &_time {
        @include timetable_cell;
        input {
            width: 100%;
            padding-left: 1em;
            color: inherit;
            font-weight: inherit;
            font-family: inherit;
            background-color: transparent;
            border: none;
            text-align: center;
            cursor: text;
            &::-webkit-clear-button {
                display: none;
            }
            &::-webkit-datetime-edit,
            &::-webkit-calendar-picker-indicator {
                display: none;
            }
        }
    }
    &_placeholder{
        @include timetable_cell;
        &::before {
            content: "";
            display: inline-block;
            height: 5px;
            width: 5px;
            border-radius: 100%;
            background-color: $color-light;
        }
    }
}

.eventList { // timetableと同じようにgridにしたい
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 17px;
    padding-bottom: 20px;
    &:hover {
        overflow-y: scroll;
        margin-right: 0;
    }
}

.eventCard {
    --shadow-alpha: 0.0;
    box-sizing: border-box;
    width: $cell-size;
    height: $cell-size;
    padding: 5px;
    font-size: 75%;
    font-weight: bold;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid $color-light;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -5px hsla(236, 29%, 51%, var(--shadow-alpha));
    transition: box-shadow 0.1s ease-in-out;
    cursor: grab;
    &:hover {
        --shadow-alpha: 0.2;
    }
    &.dragged {
        color: $color-light;
        box-shadow: none;
        border-style: dashed;
    }
}

.eventList .eventCard {
    margin: 20px 15px 0;
}
.timetable .eventCard {
    grid-row-end: span attr(data-len);
    grid-column-end: span 1;
}
