$color-text: hsl(0, 0%, 33%);
$color-backround: hsl(0, 0%, 100%);
$color-light: hsl(0, 0%, 90%);
$cell-size: 100px;
$scrollbar-width: 17px;

body {
    display: flex;
    box-sizing: border-box;
    max-height: 100vh;
    color: $color-text;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    background-color: $color-backround;
    justify-content: center;
}

@mixin shyScrollBar {
    margin-right: $scrollbar-width;
    overflow-x: auto;
    overflow-y: hidden;
    &:hover {
        overflow-y: scroll;
        margin-right: 0;
    }
}
@mixin cardContainer {
    @include shyScrollBar;
    display: grid;
    grid-auto-columns: $cell-size;
    grid-auto-rows: $cell-size;
}

input {
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: text;
}

.timetable {
    @include cardContainer;
    grid-template-rows: 45px;

    @mixin timetable_cell {
        display: flex;
        padding: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &_day {
        @include timetable_cell;
        position: sticky;
        top: 0;
        height: auto;
        background-image: linear-gradient(0deg, transparent, white 40%);
        text-transform: lowercase;
    }
    &_time {
        @include timetable_cell;
        
        input {
            width: 100%;
            background-color: transparent;
            border: none;
            text-align: center;
            cursor: text;
            &::-webkit-calendar-picker-indicator,
            &::-webkit-clear-button {
                display: none;
            }
        }
    }
    &_placeholder{
        @include timetable_cell;
        &::before {
            content: "";
            display: inline-block;
            height: 5px;
            width: 5px;
            border-radius: 100%;
            background-color: $color-light;
        }
    }
}

.eventList {
    @include cardContainer;
    padding: 10px;
}

.sidePanel {
    display: flex;
    width: min-content;
    flex-direction: column;
}

.option {
    margin-right: $scrollbar-width;
    padding: 0 10px;

    label {
        display: inline-block;
        width: 100%;

        span {
            color: $color-light;
            font-size: 0.2em;
            font-weight: 500;
        }

        input {
            display: block;
            width: 100%;
            height: 1.7em;
            font-size: 0.8em;
            box-sizing: border-box;
            border: none;
            border-bottom: $color-light 2px solid;
            border-radius: 0;
            transition: border-color 0.1s;
            &:focus {
                outline: none;
                border-color: black;
            }
            &[type="date" i]::-webkit-calendar-picker-indicator {
                display: none;
            }
        }
    }
}

.card {
    --shadow-alpha: 0.0;
    padding: 5px;
    margin: 3px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid $color-light;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -5px hsla(236, 29%, 51%, var(--shadow-alpha));
    transition: box-shadow 0.1s ease-in-out;
    cursor: grab;
    &:hover {
        --shadow-alpha: 0.2;
    }
    &.placeholder {
        color: $color-light;
        box-shadow: none;
        border-style: dashed;
        transition: 0s;
    }
    &#dragged {
        opacity: 0.5;
    }
    &#ghost {
        pointer-events: none;
    }

    .timetable & {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}
